<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
    <title>App with GitHub authorization</title>
</head>

<body>
<h1>Login Succesful!</h1>
<h3>Hello, {{.User.Login}}</h3>
<br/>
<p> {{.User }} </p>
</body>

</html>