<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
    <title>App with GitHub authorization</title>
</head>

<body>
    <h1>Welcome!</h1>
	<p>You landed on this page because you're not logged in yet</p>
	<p>Log in now? <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{.ClientID}}">Click here</a> to begin!</a></p>
</body>

</html>